
  <h1 class="display-4">Hello!</h1>
  <h2>Welcome to the Milap Fruit Store</h2>
  <hr class="my-4">
  <p>The Milap Fruit Company began operations in 1946 as a family-owned produce growing, 
  packing, and shipping business. Today Milap Fruit has expanded to offer virtually all 
  aspects of the fruit and vegetables business including growing, sourcing, ripening, re-packing, 
  processing, and distribution to grocery store chains, restaurants, and food service 
  operations throughout the country. </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/items" role="button">See more</a>
  </p>
