<div class = "headerBar">
  <div class = "container1">
    <div class = "navbar brand">
      <a class = "logo" routerLink = "/">MLF</a>
    </div>
    
    <div class = "navbar home">
      <a class = "home" routerLink = "/">Home</a>
    </div>
    
    <div class = "navbar items">
      <a class = "items" routerLink = "/items">Products</a>
    </div>
  </div>
  
  <div class = "container2">
    <div>
      <a class = "actions" routerLink = "/adminActions">Admin Actions</a>
    </div>
  </div>
  
  <div class = container3>
    <div>
      <a class = "favourites" routerLink = "/wishlist">Favourites</a>
    </div>
    <div>
      <a class = "basket" routerLink = "/cart">Basket</a>
    </div>
  </div>
  
  <div class = contaniner4>
    <div>
      <a class = "login" routerLink = "/login">SignIn</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
