
<div id="accordion">
    <div class="alert alert-success" role="alert" *ngIf= "successInd">
         <strong>{{successMsg}}</strong>
    </div>
    <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Add Product
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
         <div class = "formcontainer">
            <div class = "formbody">
                <form>
                    <div class="form-group">
                        <label for="productnamefield">Product Name<sup>*</sup></label>
                        <input type="text" class="form-control" id="productName_add" name="productnameField_add" 
                                placeholder="Enter ProductName" [(ngModel)] = "itemName1_add" required/>
                    </div>
                    <div class="form-group">
                        <label for="altnamefield">Alternate Name<sup>*</sup></label>
                        <input type="text" class="form-control" id="altName_add" name="altnameField_add" 
                                placeholder="Enter Alternate Name" [(ngModel)] = "altName1_add" required/>
                    </div>
                    <div class="form-group">
                        <label for="pricefield">Price per Product<sup>*</sup></label>
                        <input type="number" class="form-control" id="price_add" name="priceField_add" 
                                placeholder="Enter Price" [(ngModel)] = "price1_add" min="0.1" required/>
                    </div>
                    <div class="form-group">
                        <label for="availabilityfield">Availability<sup>*</sup></label>
                        <input type="number" class="form-control" id="availability_add" name="availabilityField_add" 
                                placeholder="Enter Availability" [(ngModel)] = "availability1_add" min= "1" required/>
                    </div>
                    <div class="form-group">
                        <label for="taxfield">Tax(%)<sup>*</sup></label>
                        <input type="number" class="form-control" id="tax_add" name="taxField_add" 
                                placeholder="Enter Tax" [(ngModel)] = "tax1_add" min="1" required/>
                    </div>
                    <div class="form-group">
                        <label for="aboutfield">Description<sup>*</sup></label>
                        <textarea class="form-control" id="description_add" rows="3" name = "descriptionField_add"
                                [(ngModel)]="description1_add" required></textarea>
                     </div>
                    <button type="button" class="btn btn-primary" (click)="addProduct()">Proceed</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Update Product
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
         <div class = "formcontainer">
            <div class = "formbody">
                <form>
                    <div class="form-group">
                        <label for="productnamefield">Product Name<sup>*</sup></label>
                        <input type="text" class="form-control" id="productName_update" name="productnameField_update" 
                                placeholder="Enter ProductName" [(ngModel)] = "itemName1_update" required/>
                    </div>
                    <div class="form-group">
                        <label for="pricefield">Price per Product<sup>*</sup></label>
                        <input type="number" class="form-control" id="price_update" name="priceField_update" 
                                placeholder="Enter Price" [(ngModel)] = "price1_update" min="0.1" required/>
                    </div>
                    <div class="form-group">
                        <label for="availabilityfield">Availability<sup>*</sup></label>
                        <input type="number" class="form-control" id="availability_update" name="availabilityField_update" 
                                placeholder="Enter Availability" [(ngModel)] = "availability1_update" min= "1" required/>
                    </div>
                    <div class="form-group">
                        <label for="taxfield">Tax(%)<sup>*</sup></label>
                        <input type="number" class="form-control" id="tax_update" name="taxField_update" 
                                placeholder="Enter Tax" [(ngModel)] = "tax1_update" min="1" required/>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="updateProduct()">Proceed</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Delete Product
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
            <div class = "formcontainer">
            <div class = "formbody">
                <form>
                    <div class="form-group">
                        <label for="productnamefield">Product Name<sup>*</sup></label>
                        <input type="text" class="form-control" id="productName_delete" name="productnameField_delete" 
                                placeholder="Enter ProductName" [(ngModel)] = "itemName1_delete" required/>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="deleteProduct()">Proceed</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Deactivate User
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
            <div class = "formcontainer">
            <div class = "formbody">
                <form>
                    <div class="form-group">
                        <label for="emailfield">Email<sup>*</sup></label>
                        <input type="email" class="form-control" id="username_status" name="usernameField_status" placeholder="Enter EmailId"
                                 [(ngModel)] = "username1_status" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" 
                            value="deactivate" [(ngModel)] = "userStatus" checked>
                        <label class="form-check-label" for="exampleRadios1">Deactivate</label><br>
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" 
                                value="activate" [(ngModel)] = "userStatus">
                        <label class="form-check-label" for="exampleRadios2">Activate</label>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="statusChange()">Proceed</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Add Admin
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
            <div class = "formcontainer">
            <div class = "formbody">
                <form>
                    <div class="form-group">
                        <label for="emailfield">Email<sup>*</sup></label>
                        <input type="email" class="form-control" id="username_status" name="usernameField_status" placeholder="Enter EmailId"
                                 [(ngModel)] = "username1_status" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="makeAdmin()">Proceed</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>




